---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
import TimeLine from "@/components/mdx/TimeLine.astro";
import RepositoryCard from "@/components/mdx/RepositoryCard.astro";

---

<BaseLayout title="Projects - GitHub Repositories">
  <MainCard
    title="Projeler"
    description="Yönettiğim veya geliştirmeye çalıştığım projeler."
    textOverlay="PROJELER"
    infoIcon="lucide:code-2"
  >

    <!-- Big Project -->
    <section class="py-4">
      <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
        <Icon name="lucide:git-pull-request" class="w-6 h-6 text-primary" />
        <span>Yönettiğim Başlıca Projeler</span>
      </h2>


<TimeLine
  items={[
    { year: "2006", event: "BAYCAN A.Ş - Lojistik Departmanının kurulması, nakliye faaliyetlerinin outsource edilmesi" },
    { year: "2010", event: "SARAR Giyim - E-Ticaret sitesinin kurulması" },
    { year: "2020", event: "Roketsan - Yönetim Sistemleri Yazılımı - İş analizi ve devreye alma proje yönetimi" },
    { year: "2021", event: "EAE Elektroteknik - Yönetim Sistemleri Yazılımı - ve devreye alma proje yönetimi" },
    { year: "2022", event: "C Tech - Yönetim Sistemleri Yazılımı - ve devreye alma proje yönetimi" },
    { year: "2023", event: "Amerikan Hastaneleri - Yönetim Sistemleri Yazılımı - İş analizi ve devreye alma proje yönetimi" },
    { year: "2023", event: "Nadir Metal - Yönetim Sistemleri Yazılımı - ve devreye alma proje yönetimi" },
    { year: "2025", event: "MKE - Yönetim Sistemleri Yazılımı - İş analizi ve devreye alma proje yönetimi" },
  ]}
/>
    </section>

    <!-- Big Project -->
    <section class="py-4">
      <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
        <Icon name="lucide:git-pull-request" class="w-6 h-6 text-primary" />
        <span>Yönettiğim Diğer Projeler</span>
      </h2>

      <p>
        Yönetim sistemleri iş analizi ve devreye alma projeleri yönetilen diğer kuruluşlar.
      </p>
      <ul>
        <li>-Mitrona</li>
        <li>-Dioki Petrokimya</li>
        <li>-Alpha Metalürji</li>
        <li>-Tisan Mühendislik</li>
        <li>-Baycan A.Ş</li>
        <li>-Ertunç Özcan</li>
        <li>-Nadir Metal</li>
        <li>-Barko Elektronik</li>
        <li>-Milmast</li>
        <li>-Sinop Beton</li>
        <li>-Bilecik Demir</li>
        <li>-Çanakkale</li>
        <li>-ETKO Tarım</li>
        <li>-İzmirGaz</li>
        <li>-ESGAZ</li>
        <li>-Balonevi</li>
        <li>-Hobim IT</li>
        <li>-İST</li>
        <li>-Çanakkale Liman</li>
      </ul>


    </section>

    <!-- Freelance Project -->
    <section class="py-4">
      <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
        <Icon name="lucide:git-pull-request" class="w-6 h-6 text-primary" />
        <span>Freelance Çalıştığım Projeler</span>
      </h2>
  
      <div class="card bg-base-200 p-6">
        <ul class="space-y-6">
          {
            [
              {
                project: "Janti Giyim",
                description: "Logo Tasarımı, E-ticaret sitesi ve Entegra ile pazaryeri entegrasyonu.",
                url: "https://www.jantigiyim.com/",
              },
              {
                project: "İpekpark",
                description: "E-ticaret sitesi ve Entegra ile pazaryeri entegrasyonu.",
                url: "https://www.ipekpark.com/",
              },
              {
                project: "Pro-Q Web Site",
                description: "Web site tasarımı ve içeriklerin oluşturulması, SEO çalışmalarının yapılması, ADS ile reklam pazarlamasının yönetilmesi.",
                url: "https://pro-q.com.tr/",
              },
              {
                project: "EA Havacılık",
                description: "Web site tasarımı ve içeriklerin oluşturulması.",
                url: "https://aeroea.com/",
              },
            ].map((contrib) => (
              <li class="flex items-start gap-4">
                <div class="flex-shrink-0 bg-base-300 p-2 rounded-full">
                  <Icon name="lucide:git-commit" class="w-6 h-6 text-primary" />
                </div>
                <div>
                  <h3 class="text-lg font-bold">
                    <a
                      href={contrib.url}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="hover:text-primary transition-colors flex items-center gap-1"
                    >
                      {contrib.project}
                      <Icon name="lucide:external-link" class="w-4 h-4" />
                    </a>
                  </h3>
                  <p class="text-base-content/80">{contrib.description}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  
    <!-- Github Projects -->
    <section class="py-4">
      <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
        <Icon name="lucide:star" class="w-6 h-6 text-primary" />
        <span>Github Projeler</span>
      </h2>
       <p>Amatör olarak çalıştığım github projeleri</p> <br>
      <GitHubStats username="Eser360" repositoryName="Eser360" showLanguages={true} showContributors={true} />
    </section>
  
  </MainCard>
</BaseLayout>
